
.plate {
  height:200px;
  background:rgba(0,0,0,1);
  font-size:40px;
  font-family:MicrosoftYaHei;
  color:rgba(255,255,255,1);
  display: flex;
  align-items: center;
  opacity:0.8;
  padding-left: 135px;
}
.to_index {
  font-size: 16px;
}
.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #000000;
  height:129px;
  background:rgba(255,255,255,1);
  align-items: center;
  color:rgba(0,0,0,1);
  font-size:20px;
}
.header > div {
  display: flex;
}
.header img {
  width: 131px;
  height: 76px;
}
.na {
  display: flex;
}
.nav-link {
  color: #000000;
}
.header img{
  width:56px;
  height:56px;
}
.navheader a {
  color: #000000;
}
