.rehome {
  height:60px;
  background:rgba(255,255,255,1);
  font-size:14px;
  font-family:MicrosoftYaHei;
  color:rgba(111,111,111,1);
  display: flex;
  justify-content: space-around;
  align-items: center;
/*  margin-bottom: 50px;*/
}
.rehome img {
  width:16px;
  height:16px;
  margin-right: 12px;
}
.rehome a{
  color: #6F6F6F;
}
.rehome span {
  margin-left:12px; 
}
.themelist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 98px;
  font-size:26px;
  font-family:MicrosoftYaHei;
  color:rgba(1,1,1,1);
}
.themelist span {
  cursor: pointer;
}
.themelist span:hover {
  color: #94002C;
}
.newscontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.newslist {
  width: 1179px;
  /*height: 280px;*/
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  cursor: pointer;
}
.newslist img{
  width:280px;
  height:160px;
}
.newslistbox {
  margin-left: 41px;
}

.newslisttitle {
  font-size:24px;
  font-family:MicrosoftYaHei;
  color:rgba(0,0,0,1);
  width: 858px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.newslisttime {
  font-size:16px;
  font-family:MicrosoftYaHei;
  color:rgba(0,0,0,1);
  width: 858px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-top: 19px;
}
.newslistcontent {
  font-size:16px;
  font-family:MicrosoftYaHei;
  color:rgba(0,0,0,1);
  width: 858px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top:18px;
}
.deverpage {
  display: flex;
  justify-content: center;
  margin-bottom: 97px;  
}

#pagination {
    text-align: center;
}
#pagination .active a{
  background-color: rgba(206,206,206,1);
  border-color: rgba(206,206,206,1);
}
.pagination>li>a, .pagination>li>span{
  color: #808080;
}

.next a{
  width: 68px;
}

#pagination .next{
  background: none;
  width: 68px;
  float: right;
  display: inline-block;
}

#pagination li{
  display: inline-block;
}

.pagination .prev a,#pagination .next a{
  width: 68px;
  height: 30px;
  line-height: 28px;
  border: 1px solid rgba(0,0,0,0.1);
  display: inline-block;
  border-radius: 3px;
  margin-left: 0px;
}

#pagination .next{
  margin-left: 0px;
}

#pagination a{
  text-decoration: none;
}

#pagination .disabled a{
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: not-allowed;
}
.pagination .page a{
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.1);
}